@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*>>Style the html in the css file*/
p{
	color: darkcyan;
}
*{
	font-family: "Poppins", sans-serif;
}
h1{
	font-size: 2.5rem;
}
#h2{
	text-transform: uppercase;
}
.lang{
	background-color: lightcyan;
}
.bored{
	border: 1px dashed black;
}
img + ul{
	list-style-type: none;
}
section img{
	width: 300px;
	aspect-ratio: 2/1.8;
}
ul ~ p {
	text-align: center;
}
section > ul > li{
	letter-spacing: 1.5px;
}